language: node_js java

node_js:
 - 6.1
 
jdk:
  - oraclejdk8
  
before_install:
 - npm install selenium-webdriver
 - cd '/home/travis/build/YHE54/TestHelloWorld/caMicroscopeTestSuite'
 - npm install
 - npm install chromedriver
 - npm install mocha
 - npm install chai
 
env:
 - wget "https://raw.githubusercontent.com/YHE54/TestHelloWorld/master/caMicroscopeTestSuite/selenium-server-standalone-3.0.0-beta4.jar"
 - java -jar 'selenium-server-standalone-3.0.0-beta4.jar'
 
script:
 - wget "https://raw.githubusercontent.com/YHE54/TestHelloWorld/master/caMicroscopeTestSuite/chromedriver"
 - ./chromedriver &
 - ./node_modules/webdriverio/bin/wdio wdio.conf.js
