language: node_js
node_js:
 - "6"
 - "6.1"
 - "5.11"
 - "0.6"
 - "iojs"
 - "node"
language: java
before_install:
 - npm install selenium-webdriver
 - npm install
 - npm install chromedriver
 - npm install mocha
 - npm install chai
install:
 - wget "https://raw.githubusercontent.com/YHE54/TestHelloWorld/master/caMicroscopeTestSuite/selenium-server-standalone-3.0.0-beta4.jar"
 - java -jar 'selenium-server-standalone-3.0.0-beta4.jar'
 - wget "https://raw.githubusercontent.com/YHE54/TestHelloWorld/master/caMicroscopeTestSuite/chromedriver"
 - ./chromedriver
 - ./node_modules/webdriverio/bin/wdio wdio.conf.js
