language: node_js 
node_js:
 - "6.9"
 - "node" 
before_install:
 - npm install selenium-webdriver
 - npm install chromedriver
 - npm install mocha
 - npm install chai
 - cd '/home/travis/build/YHE54/TestHelloWorld/caMicroscopeTestSuite'
 - npm install



env:
 - oraclejdk8
 
script:
 - wget "https://raw.githubusercontent.com/YHE54/TestHelloWorld/master/caMicroscopeTestSuite/selenium-server-standalone-3.0.0-beta4.jar"
 - java -jar 'selenium-server-standalone-3.0.0-beta4.jar' &
 - wget "https://raw.githubusercontent.com/YHE54/TestHelloWorld/master/caMicroscopeTestSuite/chromedriver"
 - ./chromedriver &
 - ./node_modules/webdriverio/bin/wdio wdio.conf.js
