language: java
jdk:
  - oraclejdk8
services:
  - docker
before_install:
 - nvm install 0.12
 - nvm use 0.12
 - npm install selenium-webdriver
 - npm install chromedriver
 - npm install mocha
 - npm install chai
 - cd '/home/travis/build/YHE54/TestHelloWorld/caMicroscopeTestSuite'
 - npm install

script:
 - wget "https://raw.githubusercontent.com/YHE54/TestHelloWorld/master/install.sh"
 - ./install.sh
 - wget "http://openslide.cs.cmu.edu/download/openslide-testdata/Aperio/CMU-1-Small-Region.svs"
 - wget "https://raw.githubusercontent.com/YHE54/TestHelloWorld/master/caMicroscopeTestSuite/test1.sh"
 - ./test1.sh
 - wget "https://raw.githubusercontent.com/YHE54/TestHelloWorld/master/caMicroscopeTestSuite/selenium-server-standalone-3.0.0-beta4.jar"
 - java -jar 'selenium-server-standalone-3.0.0-beta4.jar' &
 - wget "https://raw.githubusercontent.com/YHE54/TestHelloWorld/master/caMicroscopeTestSuite/chromedriver"
 - ./chromedriver &
 - ./node_modules/webdriverio/bin/wdio wdio.conf.js
