language: java
jdk:
  - oraclejdk8
services:
  - docker
before_install:
 - npm install --save selenium-webdriver@2.44.0 
 - npm install selenium-webdriver
 - npm install geckodriver
 - npm install mocha
 - npm install chai
 - npm install webdriverio
 - cd '/home/travis/build/YHE54/TestHelloWorld/caMicroscopeTestSuite'
 - npm install


script:
 - wget "https://raw.githubusercontent.com/YHE54/TestHelloWorld/master/install.sh"
 - chmod a+x install.sh
 - wget "http://openslide.cs.cmu.edu/download/openslide-testdata/Aperio/CMU-1-Small-Region.svs"
 - wget "https://raw.githubusercontent.com/YHE54/TestHelloWorld/master/caMicroscopeTestSuite/test1.sh"
 - chmod a+x test1.sh
 - wget "https://raw.githubusercontent.com/YHE54/TestHelloWorld/master/caMicroscopeTestSuite/selenium-server-standalone-3.0.0-beta4.jar"
 - java -jar ./selenium-server-standalone-3.0.0-beta4.jar&
 - wget "https://raw.githubusercontent.com/YHE54/TestHelloWorld/master/caMicroscopeTestSuite/chromedriver"
 - ./geckodriver&
 - ./node_modules/webdriverio/bin/wdio wdio.conf.js
