language: node_js
node_js:
 - "6"
 - "6.1"
 - "5.11"
 - "0.6"
 - "iojs"
 - "node"
before_install:
 - npm install selenium-webdriver
 - npm install
 - npm install chromedriver
 - npm install mocha
 - npm install chai
install:
 - ~/.ssh/YHE54
 - java -jar 'email:heyuan0755@gmail.com:caMicroscopeTestSuite/selenium-server-standalone-3.0.0.jar'
 - ./chromedriver
 - ./node_modules/webdriverio/bin/wdio wdio.conf.js
